@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text-white: #fff;
  --text-black: #000;
  --bg-btn-primary: #1e5099;
}


.text-white {
  color: var(--text-white);
}

.text-black {
  color: var(--text-black);
}

.bg-hero {
  background-image: url("../imas/yarn/bg-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

