@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --text-white: #fff;
    --text-black: #000;
    --bg-btn-primary: #1E5099;

}



.bg-hero {
    background-image: url('../Images/yarn/');
}